 
.mainbody
 {
   background: url('image/backgroundgrace.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logoimg{
    width: 150px;
    height:160px;
    
}


.galleryTable{
  margin-top: -54px;
  margin-left: auto;
  margin-right: auto;
}

.galleryTable tr{
  vertical-align: top;
}

.galleryNav{
  width: auto;
  text-align: center;
   margin-top:80px;
   margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;

  
}

.galleryNav ul{
  list-style-type:none;
 
}

.galleryNav li{
  display:inline-block;
  background: rgb(44,104,224);
   border-radius: 5px 5px 0 0;
   
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif arial;
  background: -moz-linear-gradient(top, rgba(44,104,224,1) 0%, rgba(57,149,229,1) 50%, rgba(66,140,201,1) 51%, rgba(44,104,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,104,224,1)), color-stop(50%,rgba(57,149,229,1)), color-stop(51%,rgba(66,140,201,1)), color-stop(100%,rgba(44,104,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(44,104,224,1) 0%,rgba(57,149,229,1) 50%,rgba(66,140,201,1) 51%,rgba(44,104,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(44,104,224,1) 0%,rgba(57,149,229,1) 50%,rgba(66,140,201,1) 51%,rgba(44,104,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(44,104,224,1) 0%,rgba(57,149,229,1) 50%,rgba(66,140,201,1) 51%,rgba(44,104,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(44,104,224,1) 0%,rgba(57,149,229,1) 50%,rgba(66,140,201,1) 51%,rgba(44,104,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c68e0', endColorstr='#2c68e0',GradientType=0 ); /* IE6-9 */
  
}

.galleryNav li a{
  
  border-radius: 5px 5px 0 0;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-family: sans-serif arial;
}
.galleryNav li a:hover{
  color:#ffffff;
 
}
.galleryActive {
  background-color: #ACADB6;
  color: #2A68F4;
  font-weight: bold;
  
}

.subDiv{
  overflow: scroll;
  position:relative;
   border: 4px solid #ACADB6;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
   margin-bottom: -10px;
  width:750px;
  
}

.galleryDisplay{
  width:750px;
  height:550px;
  margin-left: auto;
  margin-right: auto;
 
}


#sub-heading{
  font-size: 32px;
  font-family: sans-serif arial;
  margin-left: 115px;
  margin-top: 50px;
  text-decoration: underline;
}

.mapcontent{
  margin-left: 5px;
  margin-top: 100px;
  vertical-align: top;
}

.mapcontent td{
  vertical-align: top;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
}

#headercontact{
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
   background-color: #3734E9;
   width: 324px;
   padding: 10px;
   color: #ffffff;
   font-size: 20px;
   font-family: sans-serif arail;
}

#headercontact1{
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
   background-color: #3734E9;
   width: 406px;
   padding: 10px;
   color: #ffffff;
   font-size: 16px;
}


.prayerborder{
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 3px solid #4A4DE8;
  width:700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #ffffff;
  margin-top: 50px;
}

#prayerheader{
  font-family:'lucida','sans serif' cursive;
  font-size: 28px;
  margin-left: 60px;
  text-decoration: underline;
}

.prayermsg{
  margin-left: 60px;
  font-family: 'sans-serif' arail;
  font-size: 19px;
}

.addresslayout{
  margin-left: auto;
  margin-right: auto;
}

.addresslayout td{
  vertical-align: top;
}

.addresstabs{
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #4A4DE8;
  border-radius: 7px;
  margin-top: 20px;
  width: 720px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.addresstabs ul{
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 20px;
}

.addresstabs ul li{
    display: inline;

}
.prayerreq{
  width: 600px;
}

.prayerreq td{
  
  vertical-align: top;

}

#linkemail {
  color: #4A4DE8;
}

.prayerreq td img{
  width: 250px;
  height: 200px;
  border: solid #767474 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  
}

.welcomemsg{
  width:750px;
}

.welcomemsg td{
  vertical-align: top;
  padding-left: 50px;
  padding-top:50px;
}




#headingofmsg{
  font-size: 20px;
  font-family: sans-serif arial;
  color: #505051;
  font-style: italic;
  text-align: justify;
  width:300px;
  
}



.programMain{
  background-color: #ffffff;
  width:650px;
  height: 500px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-family: sans-serif arial;
  font-size: 18px;
  overflow: scroll;
  
   border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 2px solid #A5A6A9;
}

.programMain h2{
  font-size: 24px;
  color: #4861F0;
  text-decoration: underline;
}

#mapmove{
  border: 2px solid #3F6FE7;
  border-radius: 10px;
 
}

.maintable{
  margin-bottom: 20px;
}

.contactcontent{
  border: solid 2px #57575E;
  width: 320px;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 20px;

}

.contacttable{
  width:300px;
}



#heading{
  font-size: 18px;
  font-family: sans-serif arial;
  font-weight: bold;
}

.contacttable td{

  font-size: 15px;
  vertical-align: top;
  padding: 20px;
}

.caroselimg {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 700px;
  *zoom: 1;
  
}

.imageinfo{
  background-color:black;
  height: 30px;
  font-family: Arial;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  color: #ffffff;
}

.imageinfo:hover{
  text-decoration: underline;
}

.imggall{
  width:200px;
  height:400px;
}

#contenttable{  
  width:100%;
}
.messagecontent{
  width:400px;
  height:auto;
  margin-top:20px;
  margin-left: 75px;
  padding: 10px;
}

.messagecontent h2{
  font-family: "Times New Roman",Georgia,Serif;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 10px;
  color:#3063D2;
  text-decoration: underline;
}
.messagecontent p{
  font-family: "Times New Roman",Georgia,Serif;
  font-size: 18px;
  color:#535455;
}

.messagecontent img{
  width:100px;
  height: 100px;
  border: 3px groove #4A79DF;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.side-message{
vertical-align: top;
padding-top: 38px;
}
.footericon li{
  display: inline-block;
}

.footericon img{
  background-color: #1A4C92;
  
}


.program-content{
  width:700px;
  height: 400px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 2px groove #217EDC;
}

#opac-head{
  font-size: 22px;
  font-family: sans-serif arial;
  color:#FFFFFF;
  opacity: 2px;
  background-color: #110FA2;
  padding: 10px;
  text-align: center;
}

.profile-photo{
  width:400px;
  margin-top: 80px;
  margin-left: 250px;
  margin-bottom: 15px;
   border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border: groove 10px #81818A;
}


#profile-content{
  font-size: 20px;
  font-family: sans-serif arial;
  padding: 28px;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  width:600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border-bottom: double 6px #6664E9;
  text-align:justify;
}


.vision-content{
  width:660px;
  height:580px;
  margin-bottom: 18px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif arail;
  font-style: normal;
  border-bottom: groove 3px #616175;
  border-top: groove 3px #616175;
}

.vision-content li{
  padding-top: 8px;
  padding-bottom: 8px;
}

#content-header{
  font-size: 33px;
  font-family: sans-serif Arail;
  font-style: normal;
  text-decoration: underline;
  margin-left: 115px;
  margin-top: 60px;
}

#sub-contmain{
  font-size: 16px;
  font-family: sans-serif 'arial';
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
}

#sub-contmain1{
  font-size: 16px;
  font-family: sans-serif 'arial';
  color: #000000;
  text-align:left;
  padding-bottom: 10px;
}

#versus-cont{
  font-size: 20px;
  color:#1116A3;
   font-family: sans-serif Arail;
  font-style: italic;
  text-align: center;
  margin-left: 10px;
  
}

#versus-cont1{
  font-size: 20px;
  color:#1116A3;
   font-family: sans-serif Arail;
  font-style: italic;
  text-align: center;
  margin-left: 40px;
  
}

#versus{
  font-size: 15px;
  color:#E64242;
  font-family: sans-serif Arail;
  text-align: center;
  
}

#versusmain{
  font-size: 20px;
  color:#E64242;
  font-family: sans-serif Arail;
  font-style: italic;
  text-align: center;
  width:240px;
  margin-top: 20px;
    margin-left: auto;
  margin-right: auto;
}

#versusinfo{
  font-size: 15px;
  color:#8E1FA9;
  font-family: sans-serif Arail;
  text-align: center;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
}

#tabheader{
  font-family: sans-serif Arail;
  font-size: 18px;
  text-align: center;
  font-weight:bold;
}

.side-message div {
  font-family: "Times New Roman",Georgia,Serif;
  font-size: 18px;
  color:#535455;
  width: 210px;
}

#copyright{
  font-size: 12px;
  font-family: sans-serif arial;
  text-align: center;
  color: #ffffff;
}
.footeralign {
 table-layout: fixed;
}

.footeralign td{
  padding-top: 30px;
  padding-left: 80px;
  font-size: 16px;
  color: #ffffff;
  font-family: sans-serif arial;
  vertical-align: top;
}

.footeralign td ul li{
  padding: 2px;
}

.footeralign td ul li a:hover{
  color: #ffffff;
  text-decoration: underline;
  text-shadow: 2px 2px 10px #F1F1F5;
}

.footerback{
  font-size: 16px;
  
  margin-left: 30px;
  background-color: #ffffff;
  height: 20px;
  border-radius: 10px;
  margin-left: 250px;
  
}

.footerback td{
  padding: 10px;
  font-size: 18px;
  font-family: sans-serif arial;
  color: #000000;
}



.address-info{
  font-size: 14px;
  font-weight: 600;
  color: #525253;
  margin-left: 40px;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius: 5px;
  width: 225px;
  height:auto;
  border: double 5px #436AE9;
  margin-top: -13px;
  padding-bottom: 15px;
}




#min-head{
  background-color: #436AE9;
  -webkit-border-radius: 10px 10px 0 0;
     -moz-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
  text-align: center;
  padding-top: 10px;
  vertical-align: top;
  margin-left: 40px;
  height: 30px;
  width:245px;
  color: #ffffff;
  
}

